{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}
{% block content %}
<div class="container lookup">
    <div class="container">
        <a href = "/" class="title-box"><img class="headphones" src="{{ url_for('static', filename='headphones.png') }}">
        <div class="container title">
            <h1>Groover</h1>
            <h2>smarter music recommendations</h2>
        </div></a>
    </div>
    <div class="container about">
    <div class="container item">
      <p class="about-text"><b>How does this work?</b> <br><br>
         Groover implements a neural network to generate music
         recommendations based on your favorite song's lyrical content. We measure
         document similarity between the lyrics of an input song and the lyrics
         of 57,000 songs on our pre-trained neural network model and give you the
         best matches. <br><br>  This was developed by Siena Guerrero,
         Trevor Walker, Walker Quinn, Teresa Ibarra, and Jocelyn Chen for their
         CS121 Software Development project at Harvey Mudd College in Spring 2019.
         <br> <br> View Groover’s Github <a target="_blank"  href="https://github.com/teresaibarra/groover"> here</a>. </p>
    </div>
    <img class="ruby" src="{{ url_for('static', filename='ruby.png') }}">
{% endblock %}
