<html>
    <head>
        {% if title %}
            <title>{{ title }} - Groover</title>
        {% else %}
            <title>Groover</title>
        {% endif %}
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Raleway:700" rel="stylesheet">
        <link rel="icon" type="image/png" href="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/198/multiple-musical-notes_1f3b6.png">

        {% block head %}
            <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')+'?v=1' }}">
        {% endblock %}
    </head>

    <body>
        {% block content %}{% endblock %}
    </body>
</html>
