<html>
    <head>
        {% if title %}
            <title>{{ title }} - Groover</title>
        {% else %}
            <title>Groover</title>
        {% endif %}
        <link rel="stylesheet" type="text/css" href="./style/style.css"> 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
    </head>

    <body>
        <div>
            <br><br>
            <h1 style="font-family: 'Muli', sans-serif; font-size:80px; text-align:center; margin-bottom: -32px"><a href = "/" style = "color:black"><b>Groover</b></a></h1>
            <p style="font-weight:400;text-align: center;  margin-left: 53px"><i>smarter music recommendations</i></p>
        </div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>