{% extends "base.html" %}
{% block content %}
<div class="container lookup">
    <div class="container">
        <a href = "/" class="title-box"><img class="headphones" src="{{ url_for('static', filename='headphones.png')+'?v=1' }}">
        <div class="container title">
            <h1>Groover</h1>
            <h2>smarter music recommendations</h2>
        </div></a>
    </div>
    <div class="container search">
    <div class="container item">
    <form action="" method="post" autocomplete="off" novalidate>
        {{ form.hidden_tag() }}
            {{ form.title(placeholder='Enter song title') }}
            {{ form.artist(placeholder='Enter artist name') }} </div>
            <div class="container item">
            <div class="container submit">
              <div class="lds-facebook" id="loading"><div></div><div></div><div></div></div>
            <div class="container item" id="submit-div" onclick="submit()">
            {{ form.submit() }} </div>
            <div class="container item">
            <a href="/about" class="about">  ⓘ How does this work?</a>
            </div>
        </div>
        </div>
    </form>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='js/loading.js')+'?v=1' }}"></script>
{% endblock %}
