{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/recommendations.css') }}">
{% endblock %}
{% block content %}
    <rbox>
        <ul>
            <div class="row">
                <div class="column">
                    <p style="font-size:30px; text-align:left; margin-left: 40px; margin-top:50px">Based on the<br>lyrical content of</p><br><br>
                </div>
                <div class="column">
                    <img src="{{ rec.get_album_image_url() }}" class='centered-and-cropped' style='width:230px; height:230px;' />
                    <audio controls class='req' src="{{ rec.get_preview_url() }}" />

                </div>
                <div class="column">
                    <p style="font-size:40px; text-align: left; font-weight:bolder;">{{ rec.get_song_title() }}<br></p>
                    <p style="font-size:40px; text-align: left; font-weight:normal;margin-top:-35px;">by {{ rec.get_artist() }}</p>
                </div>
            </div>

            <p style="font-size:16px;text-align:left; margin-bottom: -8px;margin-left: 5px; font-weight: 900;">Your Recommendations</p><hr>
            <div class="scrollmenu">
                {% for song in rec.get_recommendations() %}
                    {% if((song['name'] == rec.get_song_title() and song['artist']== rec.get_artist())==False): %}
                        <img src='{{ song['image_url'] }}' class='centered-and-cropped' style='width:215px;height:215px;' hspace='7'/>  <br>
                        <p class="small">
                                <tbox>{{ song['name'] }}</tbox> <br>
                                <abox>{{ song['artist'] }}</abox>
                        </p>
                    {% endif %}
                {% endfor %}
            </div>
        </ul>
        <a href="/"><button style="font-size: 14px; border-radius: 24px; outline:none; margin-top:-15px">&#x21BB; Groove Again!</button></a>
    </rbox>
{% endblock %}
