@font-face {
    font-family: lena;
    src: url('/static/fonts/Lena.ttf');
}

@font-face {
    font-family: rockwell;
    src: url('/static/fonts/rockwell.ttf');
}

@font-face {
    font-family: rockwell;
    src: url('/static/fonts/rockwell-bold.ttf');
    font-weight: bold;
}


sbox {
    text-align: center;
    width: 410px;
    padding: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

a:link {
    color: #C0C0C0;
    text-decoration: none;
}

a:hover {
    color:lightslategray;
    text-decoration: none;
}

a:visited
{
    text-decoration: none;
    color: #C0C0C0;
}

div.a {
    text-indent: 30px;
}

body{
    font-family: 'rockwell';
}

input {
    width: 400px;
    padding: 10px 15px;
    font-size:14px;
    border: 2px solid lightgrey;
    border-radius:20px;
    margin-top:12px;
    margin-left:10px;
    display: block;
}

input:focus, textarea {
    outline: none !important;
}

h3, h4 {
    margin: 0;
    padding: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}
