a:link {
    color: #FFFFFF;
    text-decoration: none;
}

a:hover {
    color:lightslategray;
    text-decoration: none;
}

a:visited
{
    text-decoration: none;
    color: #C0C0C0;
}

div.a {
    text-indent: 30px;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #5157A3; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom left, #5157A3, #FF5151); /* Standard syntax (must be last) */
    color: white;
}

input {
    width: 250px;
    padding: 10px 15px;
    font-size:14px;
    border: 2px solid white;
    border-radius:12px;
    margin-top:12px;
    margin-left:10px;
    display: block;
}

input:focus, textarea {
    outline: none !important;
}

h3, h4 {
    margin: 0;
    padding: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 {
    font-size: 60px;
    margin: 0;
}

h2 {
    font-size: 16px;
    margin: 0;
    font-weight: normal;
}

.container {
    display: flex;
}

.lookup{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:100%;
}

.search{
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 410px;
    height:200px;
}

.submit{
    flex-direction:column;
    display: flex;
    justify-content: center;
    align-items: center;
    height:150px;
    margin-top: -25px;
    width:140px;
    padding: 6px 8px;
    font-size:14px;
}

.item{
    width:100%;
    align-content: center;
    text-align: center;
    justify-content: space-around;
}

#submit {
    width: 90px;
    border: 2px solid #5157A3;
    font-size: 14px;
    box-shadow: 2px 2px #3B4077;
    background-color: #5157A3;
    color: white;
    margin-bottom: 5px;
}

#submit:active {
  background-color: #3B4077;
  border: 2px solid #3B4077;
}

#again {
    width: 135px;
    height: 45px;
    border: 2px solid #5157A3;
    font-size: 14px;
    border-radius: 12px;
    box-shadow: 2px 2px #3B4077;
    background-color: #5157A3;
    color: white;
    margin-left: 20px;
}

#again:active {
  background-color: #3B4077;
  border: 2px solid #3B4077;
}

#again:focus {
  outline: none;
}

.title {
    justify-content: flex-start;
    flex-direction: column;
    color: white;
}

.headphones {
    height: 90px;
    margin-right: 20px;
}

.title-box {
    flex-direction: row;
    display: flex;
    color: white;
}

.about {
    font-size: 11px;
}

#loading {
  display: none;
}

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 6px;
  width: 13px;
  background: #fff;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 6px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 26px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 45px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 6px;
    height: 51px;
  }
  50%, 100% {
    top: 19px;
    height: 26px;
  }
}
