h1 {
  margin: 0;
}

.container {
  display: flex;
}

.main {
  flex-direction: column;
  justify-content: center;
}

.owl-carousel {
  /* width: 70%; */
  justify-content: center;
}

.owl-carousel img {
  height:35%;
  /* width: 170px; */
  object-fit: cover;
}

.request {
  justify-content: space-evenly;
  align-items: center;
}

.request img {
  height: 30%;
}

.header {
  justify-content: space-between;
  align-items: flex-start;
}

.req-album {
  align-items: center;
  flex-direction: column;
}

.owl-container {
  /* width: 70%; */
  padding-left: 10%;
  padding-right: 10%;
  flex-direction: column;
}

audio {
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 93%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.recs:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  width: 80%;
}

p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
