rbox {
    text-align: center;
    width: 900px;
    padding: 0px;
    border: 5px solid #ffffff;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -90px;
}
tbox {
    text-align: left;
    font-size:15px;
    width: 222px;
    word-wrap: break-word;
    white-space:normal;
    display: inline-block;
    margin-left: 7px;
}

abox {
    text-align: left;
    font-size:12px;
    width: 222px;
    display: inline-block;
    margin-left: 7px;
    margin-top: -30px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: block;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

li {
    float: left;
    z-index: -1;
    position: relative;
}
body{
    font-family: 'Muli', sans-serif;
    font-weight:bolder;
}

* {
    box-sizing: border-box;
}
/* Create three equal columns that floats next to each other */
.column {
    float:left;
    width: 33.33%;
    padding: 10px;
    vertical-align: middle;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
.column {
    width: 100%;
}
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.centered-and-cropped {
    object-fit: cover;
}
audio.req {
    width: 250px;
}

audio.rec {
    width: 222px;
    margin-left:-7px;
}

div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
}

p.small {
    line-height: 0.8;
}
